<div class="nai-navbar">
	<div class="title">
		<i class="glyphicon glyphicon-plane"></i>
		کارپی‌سی
	</div>
	<div class="nai-nav-icon left glyphicon glyphicon-menu-hamburger" ng-click="panels.sidebar = true"></div>
</div>
<div>
	<ul class="list-group">
		<li class="list-group-item" ng-click="go('/timeline')">
			اتفاقات اخیر
			<span class="badge">۱۲</span>
		</li>
		<li class="list-group-item" ng-click="go('/relatives')">
			آشنایان
		</li>
		<li class="list-group-item" ng-click="go('/messages')">
			پیام‌ها
			<span class="badge">12</span>
		</li>
		<li class="list-group-item" ng-click="go('/login')">
			خروج
		</li>
	</ul>
</div>
