<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-sign-in"></i>
    </section>
    <section class="title">
        <h4>ورود به سیستم</h4>
    </section>
</nav>

<form class="tf-container vertical-padding" ng-submit="login()">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">شماره تلفن</label>
                <input type="text" class="form-control" ng-model="inputs.username" placeholder="شماره تلفن خود را وارد کنید." required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">رمز عبور</label>
                <input type="password" class="form-control" ng-model="inputs.password" placeholder="رمز عبور خود را وارد کنید." required/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <button class="btn btn-primary btn-block" ng-disabled="!checkForm()" ng-click="login()">ورود</button>
            </div>
            <div class="form-group col-xs-6">
                <button class="btn btn-default btn-block" tf-go="/users/new">ثبت نام</button>
            </div>
        </div>
    </div>
</form>
<div>
</div>