<div class="nai-navbar">
    <div class="title">
        <i class="glyphicon glyphicon-plane"></i> فروشگاه
    </div>
    <button class="nai-nav-icon left glyphicon glyphicon-menu-hamburger" ng-click="sidebar = true"></button>
    <button class="nai-nav-icon left glyphicon glyphicon-refresh" ng-click="fetch()"></button>
</div>
<sidebar open="sidebar" ng-swipe-left="sidebar = false">
    <ul class="list-group main-sidebar">
        <li class="list-group-item profile" ng-click="go('/users/me')">
            <i class="glyphicon glyphicon-user"></i><br>
            <h5 class="spin-toggle" ng-show="sidebar"> {{ me.alias }} </h5>
        </li>

        <li class="list-group-item" ng-click="go('/sales/new')">
            <i class="glyphicon glyphicon-plus"></i> فروش جدید
        </li>

        <li class="list-group-item" ng-click="go('users/me/followers')">
            <i class="glyphicon glyphicon-paste"></i> دنبال کنندگان من <span class="badge monospace" ng-bind="me.followers"></span>
        </li>
        <li class="list-group-item" ng-click="go('users/me/following')">
            <i class="glyphicon glyphicon-copy"></i> لیست من <span class="badge monospace" ng-bind="me.following"></span>
        </li>
        <li class="list-group-item" ng-click="go('/login')">
            <i class="glyphicon glyphicon-log-out"></i> خروج
        </li>
    </ul>
</sidebar>

<div ng-swipe-right="sidebar = true" ng-swipe-left="sidebar = false" class="nai-page-container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <sale-directive ng-repeat="item in items" details="false" item="item"></sale-directive>
    </div>
    <button class="btn btn-link col-xs-12 slide-top" ng-click="fetch(true)" ng-if="btnVisible"> بیش‌تر... </button>
</div>