<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-cubes"></i>
    </section>
    <section class="title">
        <h4>فروشگاه</h4>
        <p ng-if="searchText !== false"> جست‌وجوی کلمه "{{searchText}}"</p>
    </section>
    <section class="icon button" tf-go="/sales/search" ng-if="!searched">
        <i class="fa fa-search"></i>
    </section>
    <section class="icon button" tf-go="/main" ng-if="searched">
        <i class="fa fa-search-minus"></i>
    </section>
    <section class="icon button" ng-click="sidebar =! sidebar">
        <i class="fa fa-bars"></i>
    </section>
</nav>
<tf-sidebar open="sidebar" direction="left">
    <ul class="list-group main-sidebar pointer">
        <li class="list-group-item profile" tf-go="/users/me">
            <i class="fa fa-user"></i><br>
            <h5> {{ me.alias }} </h5>
        </li>



        <li class="list-group-item" tf-go="/sales/new">
            <i class="fa fa-plus"></i> فروش جدید
        </li>
        <li class="list-group-item" tf-go="/sales/search">
            <i class="fa fa-search"></i> جست‌وجو
        </li>
        <li class="list-group-item pointer" tf-go="/users/{{me.id}}/list">
            <i class="fa fa-list"></i> افراد لیست من
        </li>
        <li class="list-group-item pointer" tf-go="/main/user/{{me.id}}">
            <i class="fa fa-cubes"></i> محصولات من
        </li>
        <li class="list-group-item" ng-click="logout()">
            <i class="fa fa-sign-out"></i> خروج
        </li>
    </ul>
</tf-sidebar>
<div class="tf-container horizontal-padding vertical-padding" tf-scroll-end="fetch(true)">
    <div class="half-width inline-block" ng-repeat="item in items">
        <sale-directive details="false" item="item"></sale-directive>
    </div>
</div>