<div class="nai-navbar">
    <div class="title"> <i class="glyphicon glyphicon-user"></i> {{item.alias}} </div>
    <button class="nai-nav-icon left glyphicon glyphicon-chevron-left" ng-click="go('back')"></button>
    <button class="nai-nav-icon left glyphicon glyphicon-refresh" ng-click="fetch()"></button>
    <button class="nai-nav-icon left glyphicon" ng-if="item.id != me.id" ng-class="{'glyphicon-star': amIFollow, 'yellow': amIFollow, 'glyphicon-star-empty': !amIFollow}" ng-click="followToggle()"></button>
</div>
<div class="nai-page-container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
        <div class="col-xs-6" ng-click="go('users/'+item.id+'/followers')"> <i class="glyphicon glyphicon-paste"></i> دنبال کنندگان <span class="badge baseline" ng-bind="item.followers"></span></div>
        <div class="col-xs-6" ng-click="go('users/'+item.id+'/following')"> <i class="glyphicon glyphicon-copy"></i> لیست <span class="badge baseline" ng-bind="item.following"></span></div>
    </div>
    <div class="col-xs-12">
        <hr/>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <sale-directive ng-repeat="item in sales" details="true" item="item"></sale-directive>
    </div>
    <button class="btn btn-link col-xs-12 slide-top" ng-click="fetch(true)" ng-if="btnVisible"> بیش‌تر... </button>