<nav class="tf-navbar">
    <section class="icon">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
    </section>
    <section class="title">
    </section>
    <section class="icon button" tf-go="back">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </section>
</nav>
<div class="tf-container">
    <div class="profile" tf-go="/users/{{item.id}}">
        <i class="glyphicon glyphicon-user"></i><br>
        <h5> {{ item.alias }} </h5>
    </div>
    <div>
        <ul class="list-group full-width">
            <li class="list-group-item" ng-click="followToggle()" ng-hide="me.id == item.id">
                <i class="glyphicon glyphicon-copy"></i> حضور در لیست من؟
                <span class="badge baseline" ng-class="{'yellow': relation.follow == 1, 'gray': relation.follow != 1}"> 
                    {{ relation.follow == 1? 'بله': 'خیر'}}
                </span>
            </li>
            <li class="list-group-item" ng-click="trustModal = true" ng-hide="me.id == item.id">
                <i class="glyphicon glyphicon-star"></i> میزان اعتماد من
                <span class="badge baseline yellow"> 
                    <i class="glyphicon glyphicon-star" ng-repeat="i in [0,1,2,3,4,5]" ng-class="{'yellow': i <= relation.trust, 'gray': i > relation.trust, 'glyphicon-star': i >= 1, 'glyphicon-star-empty': i == 0}"></i>    
                </span>
            </li>
            <li class="list-group-item" ng-show="item.trust_direct == false">
                <i class="glyphicon glyphicon-star"></i> نحوه آشنایی
                <span class="badge baseline">
                    <span ng-repeat="st in item.trust_network">
                        {{ st.user + '(' + st.trust + ')'}}
                    </span>
                </span>
            </li>
            <li class="list-group-item" tf-go="/users/{{item.id}}/followers">
                <i class="glyphicon glyphicon-paste"></i> تعداد دنبال‌کنندگان
                <span class="badge baseline" ng-bind="item.followers"></span>
            </li>
            <li class="list-group-item" tf-go="/users/{{item.id}}/following">
                <i class="glyphicon glyphicon-copy"></i> تعداد افراد لیست
                <span class="badge baseline" ng-bind="item.following"></span>
            </li>
            <li class="list-group-item" tf-go="/users/{{item.id}}/trusts">
                <i class="glyphicon glyphicon-star"></i> تعداد افراد مورد اعتماد
                <span class="badge baseline" ng-bind="item.trusts"></span>
            </li>
            <li class="list-group-item" tf-go="/main?user={{item.id}}">
                <i class="glyphicon glyphicon-ice-lolly-tasted"></i> تعداد محصولات
                <span class="badge baseline" ng-bind="item.sales_count"></span>
            </li>


        </ul>
    </div>
</div>

<div class="nai-overlay toggle" ng-show="trustModal" ng-click="trustModal = false"></div>
<div class="modal trust-modal slide-top" ng-show="trustModal">
    <div class="modal-dialog modal-sm ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">میزان اعتماد من</h4>
            </div>
            <div class="modal-body">
                <div class="starline">
                    <i ng-repeat="j in [0,1,2,3,4,5]" class="glyphicon pointer" ng-class="{'yellow': j <= relation.trust, 'gray': j > relation.trust, 'glyphicon-star': j >= 1, 'glyphicon-star-empty': j == 0}" ng-click="trustChange(j)"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="trustChange(-1)">نظری ندارم</button>
                <button type="button" class="btn btn-default" ng-click="trustModal = false">بستن</button>
            </div>
        </div>

    </div>
</div>