<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-cube"></i>
    </section>
    <section class="title">
        <h4 ng-click="go( 'users/'+item.user) ">
            {{ item.user_alias || '@'+item.user }}
        </h4>
        <p class="rtl">
            {{ item.title }}, {{ item.date | pDate }}
        </p>
    </section>
    <section class="icon button" tf-go="back">
        <i class="fa fa-arrow-left"></i>
    </section>
</nav>

<div class="tf-container" style="overflow-y: scroll">
    <sale-directive details="true" item="item"></sale-directive>
</div>