<div class="sale-directive">
    <div class=" panel panel-default post " ng-class="{'single': details}">
        <div class="panel-heading" ng-if="!details">
            <div class="text-right ">
                <span class="badge monospace pull-left" ng-if="item.trust.trust != -1" ng-class="{'yellow': item.trust.direct}">
                    {{item.trust.trust}}<i class="fa fa-star"></i> 
                </span>
                <a ng-click="$root.go( 'users/'+item.user) " class="caption text ">
                    <i class="fa fa-user"></i> {{ item.user_alias || '@'+item.user }}
                </a>
                <div class="caption text rtl">
                    {{ item.title }}, {{ item.date | pDate }}
                </div>

            </div>
        </div>
        <div class="image pointer" ng-style="{ 'background-image': 'url('+item.thumbnail+')' }" ng-click="$root.go( 'sales/'+item.id) "></div>
        <div class="body" ng-if="item.comments">
            {{ item.body }}

        </div>
        <div style="clear: both;"></div>
        <div class="panel-footer text-center">
            <i class="fa fa-money "></i>
            <span>{{ item | fPrice }} </span>
        </div>
    </div>
    <div ng-if="item.comments" class="panel panel-default post single horizontal-padding vertical-padding comments">
        <form ng-submit="newComment()">
            <div class="row">
                <div class="form-group col-xs-12">
                    <div class="input-group">
                        <input type="text" ng-model="inputs.body" class="form-control input-sm" placeholder="نظر خود را درباره این محصول بنویسید...">
                        <span class="input-group-btn" style="z-index: 30000">
                            <button class="btn btn-primary btn-sm" type="submit">ارسال!</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="comment" ng-repeat="comment in item.comments">
            <span class="label label-default pointer" ng-click="$root.go( 'users/'+comment.user) ">
                <i class="fa fa-user "></i> {{ comment.user_alias }}
            </span>

            <span class="body">
                {{ comment.body }}
            </span>
        </div>
    </div>
</div>