<nav class="tf-navbar">
    <section class="icon">
        <i class="fa fa-shopping-cart"></i>
    </section>
    <section class="title">
        <h4 ng-if="!title">فروشگاه</h4>
        <h4 ng-if="title" ng-bind="title"></h4>
    </section>
    <section class="icon button" tf-go="/search">
        <i class="fa fa-search"></i>
    </section>
    <section class="icon button" tf-go="/sales/search" ng-if="searched">
        <i class="fa fa-search-minus"></i>
    </section>
    <section class="icon button" tf-go="/users/{{me.id}}">
        <i class="fa fa-user"></i>
    </section>
</nav>
<ul class="tf-tabs" ng-if="!inUser">
    <li ng-click="goTimeline()" ng-class="{active: inTimeline}"> <i class="fa fa-users"></i> حلقه آشنایان من </li>
    <li ng-click="goEntireSystem()" ng-class="{active: !inTimeline}"> <i class="fa fa-globe"></i> کل سیستم </li>
</ul>
<div class="tf-container" tf-scroll tf-scroll-bottom="next()" tf-scroll-down="bars=false" tf-scroll-up="bars=true" ng-swipe-left="go('/sales/search/timeline=true')" ng-swipe-right="go('/sales/search')">

    <div class="vertical-padding" ng-if="items.length != 0">
        <div class="col-xs-6 col-sm-4 col-lg-3 no-margin no-padding" ng-repeat="item in items">
            <sale-directive details="false" item="item"></sale-directive>
        </div>
    </div>
    <div ng-if="items.length == 0" class="vertical-padding horizontal-padding">
        <p>
            چیزی پیدا نشد!
        </p>
    </div>
    <tf-floating-btn ng-show="bars" tf-go="/sales/new"><i class="fa fa-plus"></i></tf-floating-btn>
</div>