<div class="sale-directive" ng-class="{'loading': loading}">
    <div class=" panel panel-default post ">
        <div class="panel-heading ">
            <div class="cell text-right ">
                <span class="caption">
					<a ng-click="$root.go( 'users/'+itemF.user) " class="caption text ">
                        <i class="fa fa-user"></i> {{ itemF.user_alias }}
                    </a>
                    <div class="caption text rtl">
                        {{ itemF.title }}, {{ itemF.date | pDate }}
                    </div>
                </span>
            </div>
            <div class="cell text-left">
                <span class="badge monospace" ng-class="{'yellow': itemF.trust.direct}">
                    {{itemF.trust.trust}}<i class="fa fa-star"></i> 
                </span>
            </div>


        </div>
        <div class="image pointer" ng-style="{ 'background-image': 'url('+item.thumbnail+')' }" ng-click="$root.go( 'sales/'+itemF.id) "></div>
        <div class="body" ng-if="details">
            {{ itemF.body }}

        </div>
        <div style="clear: both;"></div>
        <div class="panel-footer text-center">
            <i class="fa fa-credit-card "></i>
            <span>{{ itemF | fPrice }} </span>
        </div>
    </div>
    <div ng-if="details " class="panel panel-default post ">
        <div class="panel-heading ">
            <div class="cell text-right ">
                <span class="caption">
                    <a class="caption text "><i class="fa fa-comments "></i> نظرها </a>
                </span>
            </div>
        </div>
        <div class="body">
            <div class="panel panel-default post " ng-repeat="comment in itemF.comments">
                <div class="panel-heading ">
                    <div class="cell text-right ">
                        <span class="caption ">
                            <a ng-click="$root.go( 'users/'+comment.user) " class="caption text "><i class="fa fa-user "></i> {{ comment.user_alias }} </a>
                        </span>
                    </div>
                </div>
                <div class="body ">
                    {{ comment.body }}
                </div>
            </div>
            <hr ng-if="itemF.comments.length > 0">
            <form ng-submit="newComment() ">
                <div class="row ">
                    <div class="form-group col-xs-12 ">
                        <textarea class="form-control input-sm" placeholder="نظر خود را درباره این محصول بنویسید... " ng-model="inputs.body "></textarea>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group col-xs-4 col-xs-offset-8 ">
                        <button class="btn btn-sm btn-primary full-width " type="submit ">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>