<nav class="tf-navbar">
    <section class="icon">
        <i class="glyphicon glyphicon-search"></i>
    </section>
    <section class="title">
        <h4> جست‌وجو </h4>
    </section>
    <section class="icon button" tf-go="/main">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </section>
</nav>
<form class="tf-container vertical-padding horizontal-padding" ng-submit="submit()">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">متن جست‌وجو</label>
                <input type="text" class="form-control" ng-model="inputs.text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label class="control-label">فقط در لیست من بگرد؟</label>
                <tf-switch class="form-control" ng-model="inputs.timeline"></tf-switch>
            </div>
        </div>
    </div>
</form>
<div>
    <button class="btn btn-primary btn-lg btn-block full-width no-margin pull-right" ng-click="submit()"> بگرد </button>
</div>