<nav class="tf-navbar">
    <section class="icon">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
    </section>
    <section class="title">
        <h4> افراد مورد اعتماد </h4>
        <p> {{item.alias}} </p>
    </section>
    <section class="icon button" tf-go="back">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </section>
</nav>

<div class="tf-container">
    <ul class=" list-group ">
        <li class="list-group-item " ng-repeat="item in items " ng-click="go( 'users/'+item.id) ">
            <span class="badge monospace " ng-bind="item.mobile "></span> {{item.alias}}
        </li>
    </ul>
    <p>موارد پیشنهادی</p>
    <ul class="list-group ">
        <li class="list-group-item " ng-repeat="item in contacts " ng-click="go( 'users/'+item.phone) ">
            {{item.alias}}
            <span class="badge baseline yellow "> 
                <i class="glyphicon glyphicon-star " ng-repeat="i in [0,1,2,3,4,5] " ng-class="{ 'yellow': i <=i tem.trust, 'gray': i> item.trust, 'glyphicon-star': i >= 1, 'glyphicon-star-empty': i == 0}"></i>
    </span>
        </li>
    </ul>
</div>