<div class="nai-navbar">
    <div class="title"> افراد مورد اعتماد {{item.alias}} </div>
    <button class="nai-nav-icon left glyphicon glyphicon-chevron-left" ng-click="go('back')"></button>
    <button class="nai-nav-icon left glyphicon glyphicon-search" ng-click="searchbar = true"></button>
</div>
<searchbar open="searchbar" callback="search($text)"></searchbar>

<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in items" ng-click="go('users/'+item.id)">
            {{item.alias}}
            <span class="badge baseline yellow"> 
                <i class="glyphicon glyphicon-star" ng-repeat="i in [0,1,2,3,4,5]" ng-class="{'yellow': i <= item.trust, 'gray': i > item.trust, 'glyphicon-star': i >= 1, 'glyphicon-star-empty': i == 0}"></i>    
            </span>
        </li>
    </ul>
</div>